@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }
}

:root {
  --primary-400: #F2A945;
  --primary-500: #F78410;
  --primary-600: #E07516;
}